extends layout

block content
  h1.heading Modifier mon profil

  form.container(action="/admin/edit/" + user._id, method="POST")
    input(type="hidden" name="id" value=user._id)

    div.select-container
      label(for="gender") Civilité
      select(id="gender" name="gender")
        option(value="male" selected=(user.gender === 'male')) Homme
        option(value="female" selected=(user.gender === 'female')) Femme

    if errors && errors.gender
      div.error
        p.form-error= errors.gender

    div.select-container
      label(for="category") Catégorie
      select(id="category" name="category")
        option(value="Client" selected=(user.category === 'Client')) Client
        option(value="Technique" selected=(user.category === 'Technique')) Technique
        option(value="Marketing" selected=(user.category === 'Marketing')) Marketing

    if errors && errors.category
      div.error
        p.form-error= errors.category

    div.input-container
      label(for="lastname") Nom
      input#lastname(type="text" name="lastname" value=user.lastname required)

    if errors && errors.lastname
      div.error
        p.form-error= errors.lastname

    div.input-container
      label(for="firstname") Prénom
      input#firstname(type="text" name="firstname" value=user.firstname required)

    if errors && errors.firstname
      div.error
        p.form-error= errors.firstname

    div.input-container
      label(for="email") Email
      input#email(type="email" name="email" value=user.email required)

    if errors && errors.email
      div.error
        p.form-error= errors.email

    div.input-container
      label(for="password") Mot de passe
      div.input-with-icon(style="width: 68%")
        input#password(type="password" name="password" required)
        span#toggle-icon.fa.fa-eye-slash(type="button", onclick="togglePassword()" )

    if errors && errors.password
      div.error
        p.form-error= errors.password

    div.input-container
      label(for="phone") Téléphone
      input#phone(type="tel" name="phone" value=user.phone required)

    if errors && errors.phone
      div.error
        p.form-error= errors.phone

    div.input-container
      label(for="birthdate") Date de naissance
      input#birthdate(type="date" name="birthdate" value=user.birthdate required)

    if errors && errors.birthdate
      div.error
        p.form-error= errors.birthdate

    div.input-container
      label(for="city") Ville
      input#city(type="text" name="city" value=user.city required)

    if errors && errors.city
      div.error
        p.form-error= errors.city

    div.input-container
      label(for="country") Pays
      input#country(type="text" name="country" value=user.country required)

    if errors && errors.country
      div.error
        p.form-error= errors.country

    div.input-container
      label(for="photo") URL de la photo
      input#photo(type="url" name="photo" value=user.photo required)

    if errors && errors.photo
      div.error
        p.form-error= errors.photo
        
    if isAdmin
      div.input-container
        label(for="isAdmin") Administrateur
        input#isAdmin(type="checkbox" name="isAdmin" checked=user.isAdmin)

      button.btn-primary(type="submit" style="font-size: 20px; padding: 8px 15px;")
        i.fa.fa-edit()
        |  Enregistrer

  script(src="/js/showHidePassword.js")
