extends layout

block content
  h1.heading Liste des collaborateurs

  button.btn-primary#backToTop(onclick="topFunction()")
    i.fa.fa-chevron-up

  //- Barres de recherche 
  .search-container
    input#searchName(type='text', placeholder='Rechercher par nom...')
    input#searchLocation(type='text', placeholder='Rechercher par localisation...')
    select#searchCategory
      option(value='') Toutes catégories
      option(value='Marketing') Marketing
      option(value='Client') Client
      option(value='Technique') Technique

  //- Container des userCards
  .card-container
    each user in users
      .card(data-name=user.firstname, data-location=user.city, data-category=user.category)
        img(src=user.photo, alt=`${user.firstname} ${user.lastname} `)
        h3= `${user.firstname} ${user.lastname} (${user.age})`
        h4= `${user.city}, ${user.country}`
        p= `${user.email}`
        p= `${user.phone}`
        p.category= `${user.category}`
        p= `Anniversaire: ${user.formatedBirthdate}`

        if isAdmin 
          .admin-btns
            a.btn-primary(href=`/admin/edit/${user._id}`) Modifier
            button.delete-btn(data-id=user._id) Supprimer

  //- Modale pour confirmer la suppression
  #deleteModal.modal
    .modal-content
      h4 Êtes-vous sûr de vouloir supprimer cet utilisateur ?
      .modal-actions
        button.confirm.btn.btn-danger(data-id='') Confirmer
        button.cancel.btn.btn-primary Annuler

  //- Inclure le JS pour la gestion des barres de recherche
  script(src="/js/deleteModal.js")
  script(src="/js/filterUsers.js")
  script(src="/js/backToTopButton.js")