.card
  img(src=user.photo, alt=`${user.firstname} ${user.lastname}`)
  h2= `${user.firstname} ${user.lastname}`
  p= `${user.city} ${user.country}`
  p= `${user.email}`
  p= `${user.phone}`
  p= `Anniversaire: ${user.birthdate}`
