.card
  img(src=user.photo, alt=`${user.firstname} ${user.lastname}`)
  h3= `${user.firstname} ${user.lastname}`
  h4= `${user.city} ${user.country}`
  p= `${user.email}`
  p= `${user.phone}`
  p= `Anniversaire: ${user.birthdate}`
